# PostgreSQL
POSTGRES_USER= # имя пользователя для сервера
POSTGRES_PASSWORD= # пароль для подключения к серверу
POSTGRES_DB= # имя сервера

# Backend
DATABASE_HOST= # имя хоста базы данных
DATABASE_PORT= # порт для базы данных по умолчанию 5432
DATABASE_USERNAME= #имя пользователя для БД
DATABASE_PASSWORD= # пароль для подключения к БД
DATABASE_NAME= # имя БД
CORS_ORIGIN= # имя хоста
LOGGER_TYPE=dev # логер предпочитаемый по умолчанию dev

# pgAdmin (опционально)
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin